.events-info{
    display: flex;
    flex-wrap: wrap;
}

.camera-stream-card{
    padding: 10px;
    background: var(--secondary-color);
    display: flex;
    flex-direction: var(--stream-card-direction);
    gap: 15px;

    max-height: 600px;
}

@media(max-width: 1200px){
    .camera-stream-card{
        --stream-card-direction: column;
    }
}

@media (min-width: 1201px) {
    .camera-stream-card{
        --stream-card-direction: row;
    }
  }

.stream-picture{
    width: auto;
    height: 100%;
    
    
    position: relative;
}

.stream-picture img{
    object-fit: cover;
    width: auto;
    height: 100%;
    border-radius: 10px;
}

.people-counter{
    height: auto;
    display: flex;
    align-items: center;

    padding: 10px;
    gap: 10px;
    background: none;
    border-color: var(--menu-border-color);
    border-style: solid;
    border-width: 3px;

    font-weight: 600;
    font-size: 24px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.camera-info{
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 100%;
}

.camera-meta{
    display: flex;
    flex-wrap: wrap;

    gap: 10px;
}

.cameras-list{
    background: var(--secondary-color);
}

h2{
    margin: 0;
    font-weight: 800;
}

.online{
    color: var(--primary-text-color);
    padding: 5px;
    background: var(--success-color);
}

.offline{
    color: var(--primary-text-color);
    padding: 5px;
    background: var(--attention-color);
}